.imageShow:hover>div:nth-child(2){
	opacity: 1!important;
	background-color: rgba(0,0,0,.4);
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}