nav
      a(href='#')
        .logo
          h4 IslaGrande
      ul.nav-links
        li
          a(href='/') Trang chủ
        li
          a(href='/user') Trang cá nhân
        li
          a(href='#') Trò chuyện
        li
          a(href='/user/logout') Đăng xuất
      .burger
        .line1
        .line2
        .line3