<%- include('../common/header');%>
	<div class="box">
		<div class="box-in-box">
			<form action="/login" method="post" id="formLogin">
				<h2>Login</h2>
				<div class="inputBox">
					<input type="text" name="username" required>
					<label for="">Username</label>
				</div>
				<div class="inputBox">
					<input type="password" name="password" required>
					<label for="">Pasword</label>
				</div>
				<button type="submit">Login</button>
				<div class="text">
					<span>Don't have account? </span>
					<a href="">Sign Up</a>
				</div>
			</form>
		</div>
	</div>
<%- include('../common/footer');%>

